/*----------
[ Body ]
-------------*/
body{
	background:#f2f4f4;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
}
.paddleft{
	padding-left:0px;
}
.padd0{
	padding:0px;
}
.paddright{
	padding-right:0;
}
.leftside1{
	margin-top:20px;
}
#maincontainer{
	margin:0 0 48px !important;
	border:none !important;
}
#maincontainer .scrollbox3{
	overflow:hidden !important;	
	height:530px !important;	
	width:100% !important;
	padding:0 !important;
	cursor:pointer;
}
.handle3{
	height:100px !important;
}
.tablebox{
	height:395px;
}
.img-thumbnail{
	max-width:100% !important;
}
.rightside .scrollbox4{	
	overflow:hidden !important;	
	width:100% !important;
	padding:0 !important;	
	cursor:pointer;
	height:360px;
}
#header,#footer,#column-left,#column-left.active{
	display:none;
}

#wait img,.loader1 img{
	margin:0 auto;
	padding:30% 0;
}
#wait,.loader1{
	height:500px;
	text-align:center;
}
.mar{
	margin: 32px 0 14px 0;
}
.back{
	background:url(../image/bg.png);
	height:1200px;
}
/*--------------------
[ Header / header ]
---------------------*/
header #logo{
	margin:20px 0;
}
header #logo img{
	margin:0 auto;
}
/*--------------------
[ #log-in / .log ]
---------------------*/
#log-in .panel-default{
	background: #fff;
	box-shadow:1px 1px 23px #939393;
	
}
#log-in .panel-heading{padding:0px;}
#log-in .panel-default{border-width:0px;}
#log-in .panel-default .panel-heading h1{
	background:#4de8ff;
	margin:0;
	padding:25px 0 25px;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:bold;
}
#log-in  form{
	padding: 5px 10px 35px;
}
#log-in .form-group + .form-group, .input-group-addon:first-child{
	border:none;
}
#log-in .form-control{
	background:#f7f7f7;
	box-shadow:none;
	border:none;
	color:#c7c7c7;
	height:55px;
	font-size:14px;
	
}
#log-in .input-group-addon{
	font-size:16px;
	color:#c7c7c7;
}
#log-in .form-control input{
	color: #c7c7c7;
    background: none;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
	margin-left:25px;
	width:80%;
	font-weight:400;
}
#log-in .log form .user .btn {
    float: left;
    background: transparent;
    top: 0;
    bottom: 0;
	padding:0;
}
#log-in .log form .user .btn i {
    color: #bbbbbb;
    font-size: 26px;
}
#log-in  .help-block  {
	text-align:center;
	margin-top:25px;
}
#log-in  .help-block a {	
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
	font-weight:300;
	color:#0e1a0e;
}
#log-in .log form  p  a{
	color:#000;
}
#log-in .btn-primary{
	position:absolute;
	background:#fff;
	border:none;
	border-radius:50%;
	padding:10px;
	left: 40%;
}
#log-in .btn-primary i{
	font-size:34px;
	color:#00d7f7;
	border:1px solid #00d7f7;
	border-radius:50%;
	padding:24px 22px;
}
/*--------------------
[ #dash / .dashbox ]
---------------------*/
#dash{
	margin:0px 0;
}
#dash .dashbox{
	background: #fff;
	box-shadow:1px 1px 23px #939393;
}

/*#dash .dashbox .box li:nth-child(1),#dash .dashbox .box li:nth-child(2){
	min-width:26%;
}*/
#dash .dashbox .box li.active{
	background:#4de8ff;
}
#dash .dashbox .box li + li{
	margin-left:-2px;
}
/*#dash .dashbox .box li:nth-child(3),#dash .dashbox .box  li:nth-child(5){
	background:#807F7F;
}*/
#dash .dashbox .box li{
	background:#686868;
	width:auto;
	min-height:72px;
	padding:10px 15.9px;
	vertical-align:middle;
	min-width:19.8%;
	text-align:center;
}
#dash .dashbox .box{
	margin:0;
}
.nav-tabs li.active,.nav-tabs li,#address li,#address li.active{
	background:transparent !important;
	padding:0px !important;
}
#dash .dashbox .box .btn{
	background:transparent;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff;
}
#dash .dashbox .box2{
	background:#807f7f;
}
#dash .dashbox .box2{
	margin:0;
}
#dash .dashbox .box span{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff;
}
#dash .dashbox .box i{
	color:#fff;
	font-size:26.04px;
	font-weight:400;
}
#dash .dashbox .box p{
	width:auto;
	height:52px;
	border:none;
	padding:15px;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background:#fff;
	margin-bottom:0;
	display:inline-block;
}
#dash .leftside{
	border:1px solid #e5e5e5;
	margin:20px 0 48px;
	background: #f2f4f4;
}
#dash  .search{
	background: #807f7f;
    padding: 8px 8px 8px 8px;
	position:relative;
}
#dash .search input{
    color: #adadad;
    background: #fff;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
	width:100%;
	height:46px;
	padding: 0 0 0 10px;
}
#dash .search .btn{
	position: absolute;
    float: right;
    background: transparent;
    top: 0;
    bottom: 0;
    right: 20px;
	font-size:26px;
	color:#adadad;
	font-size:26px;
}
#dash .icon{
	background:#686868;
	padding:16px 9px;
}
#dash .icon .breadcrumbsload .showsubcate:before{
	content:">";
	padding:0 10px;
}
#dash .icon a{
	color:#fff;
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:400;
}
#dash .icon a i{
	color:#fff;
	font-size:24px;
	margin:0;
}
#dash .icon  i{
	color:#a8a8a8;
	font-size:18px;
	margin-right:10px;
}
#dash .leftside ul{
	margin:0;
}
#dash .leftside ul li{
	background:none;
	text-align:center;
    height: 159px;
    padding: 46px 0 0 0;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	display: inline-block;
	cursor:pointer;
}
#dash .leftside ul li i{
	font-size:50.77px;
	color:#adadad;
	margin-bottom:17px;
	margin-right:0;
}
#dash .leftside ul li:hover{
	background:#fff;
}
#dash .leftside ul li span{
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:400;
	color:#5f5f5f;
	margin:0;
}
#dash .leftside ul li:nth-child(2), #dash .leftside ul li:last-child{
	margin:0;
}
#dash .leftside ul li:nth-child(2), #dash .leftside ul li:nth-child(3), #dash .leftside ul li:nth-child(5), #dash .leftside ul li:nth-child(6), #dash .leftside ul li:nth-child(8){
	margin-left:-4px;
} 
#dash .leftside ul li:nth-child(3), #dash .leftside ul li:nth-child(6){
	border-right:0;
}
#dash .leftside ul li:nth-child(7), #dash .leftside ul li:nth-child(8){
	border-bottom:0;
}
#dash .leftside .box4{
	background:#fff;
	box-shadow:2px 4px 7px #ccc;
	margin:10px 0 20px;
	padding:5px 10px 5px;
	position:relative;
	min-height:301;
}
#dash .leftside .box4:hover .buttons{
	display:block;
	top: 0;
	text-align:center;
	bottom:0;
	position: absolute;
	left: 0px;
	background: rgba(255, 255, 255, 0.7);
	right:0;
}
#dash .leftside .buttons{
	display: none;
	padding-top:42px;
}
#dash .leftside .buttons a{
	display: block;
    color:#fff;
	font-size:14px;
	background:#686868;
	padding:9px 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	cursor:pointer;
	margin:10px auto 0;
	max-width:100px;
}
#dash .leftside .buttons a:hover{
	background:#00d8f6;
}
#dash .leftside .buttons a i{
	margin-right:5px;
	font-size:18px;
}
.caption{
	text-align:center;
}
.caption h1{	
    margin: 11px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
	color:#807f7f;
	font-weight:400;
}
.caption p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#ff0000;
	margin-bottom:0px;
	font-weight:400;
}
.off, .off1 {
    height: 28px;
    width: 38px;
    position: absolute;
    padding: 4px 0;
	top: 6px;
    left: 10px;
	text-align:center;
}
.off span, .off1 span {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:600;
}
.off {
    background:#1ecf93;
}
.off1 {
    background:#f40839;
}
#dash .rightside{
	border:1px solid #e5e5e5;
	margin:20px 0 48px;
	background: #f2f4f4;
	height:653px;
}
#dash .rightside table tr{
	text-align:center;
}
#dash .rightside table tr th{
	padding:22px 5px;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
	font-weight:600;
	color:#ededed;
	background:#686868;
	border-right:1px solid #e5e5e5;
	text-align:center;
}
#dash .rightside table tr th:last-child, #dash .rightside table tr td:last-child{
	border-right:0;
}
#dash .rightside table tr td{
	padding:24px 5px;
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:400;
	color:#5f5f5f;
	text-align:center;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
#dash .rightside table tr td i{
	font-size: 14px;
	color:#000;
	margin-right:5px;
}
#dash table {
	width:100%;
}

#dash #minus2, #add2{
	cursor:pointer;
}
#dash #input-quantity{
	width:40px;
	margin-bottom:5px;
}
#dash .rightside .selector{
	background:#807f7f;
	padding: 7px 30px;
}
#dash .rightside .selector .form-group{
	margin:0;
	float: right;
    display: inline-flex;
}
#dash .rightside .selector label{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
	font-weight:600;
}
#dash .rightside .selector select{
    width:168px;
	height:35px;
	border: none;
    border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #858585;
	font-weight:400;
    margin-left:20px;
}
#dash .rightside .value{
	background:#686868;
	padding: 14px 15px 17px;
	
}
#dash .rightside .value ul li{
	background:none;
	text-align:right;
	padding:0;
	font-family: "Open Sans", sans-serif;
    font-size: 15px;
	font-weight:700;
	color:#fff;
	margin-bottom:10px;
	display: block;
}
#dash .rightside .value ul li a{
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:700;
	color:#fff;
	padding: 5px 9px;
}
#dash .rightside .value ul li a:hover{
	background:#000;
}
#dash .rightside .value ul li:nth-child(2){
	background:none;
	margin-left:0;
	padding: 0;
}
#dash .rightside .value ul li:last-child{
	background:none;
	margin:0;
	padding: 0;
}
#dash .rightside .value .btn-primary{
	width:193px;
	height:auto;
	font-family: "Open Sans", sans-serif;
    font-size: 22px;
	font-weight:700;
	color:#fff;
	background:#00d8f6;
	border:none;
	border-radius:0;
	float:right;
}
#productModal .modal-header .close{
	left: 35px;
	top: -23px;
	color:#000;
	background:transparent;
	opacity:1;
}
#productModal .form-group + .form-group{
	border:none;
}
.icon .btn-primary,.icon .btn-primary:active:hover,.icon .btn-primary.active:hover,.icon .open > .btn-primary.dropdown-toggle:hover,.icon .btn-primary:active:focus,.icon .btn-primary.active:focus,.icon .open > .btn-primary.dropdown-toggle:focus,.icon .btn-primary.focus:active,.icon .btn-primary.active.focus,.icon .open > .btn-primary.dropdown-toggle.focus{
	background:#00d8f6;
	border:none;
	border-radius:0;
	font-size: 14px;
	color:#fff;
}
#dash .rightside .print{
	background:#f2f4f4;
	padding: 13px 15px 12px;
	text-align:right;
}
#dash .rightside .print a{
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-weight:400;
	color:#5f5f5f;
}
#dash .rightside .print  i{
	font-size: 18px;
	margin-right:6px;
}
#ordermodal .btn .fa,#customModal .btn .fa,#myyModal .fa,#myoModal .fa{
	color:#000 !important;
	font-size:16px !important;
}
/*----------------
[responsive]
------------------*/
@media (max-width:1180px){
	#log-in .log {
		margin: 0 220px;
	}
	#dash .dashbox .box i, #dash .dashbox .box1 i, #dash .dashbox .box2 i {
		font-size: 16px;
    }
	#dash .dashbox .box span, #dash .dashbox .box1 span, #dash .dashbox .box2 span {
		font-size: 16px;
    }
	#dash .rightside table tr th {
		padding: 21.5px 5px;
    }
	#dash .rightside table tr td {
		padding: 5px 5px;
		font-size: 10px;
    }
	
	#dash .refresh {
		cursor:pointer;
    }
	.caption h1 {
		font-size: 12px;
    }
	.off, .off1 {
		width: 29px;
    }
	.off span, .off1 span{
		font-size:12px;	
	}
}
@media (max-width:1000px){
	#log-in .log {
		margin: 0 100px;
	}
	#dash .dashbox .box span, #dash .dashbox .box1 span, #dash .dashbox .box2 span {
		margin:20px 8px 0 0;
	}
	#dash .dashbox .box p, #dash .dashbox .box1 p, #dash .dashbox .box2 p {
		width: 105px;
	}
	#dash .rightside table tr th {
		padding: 22px 9px;
		font-size:10px;
	}
	#dash .leftside ul li i {
		font-size: 35.77px;
    }
	#dash .leftside ul li span {
		font-size: 10px;
    }
	#dash .rightside table tr td {
		padding: 24px 10px;
    }
	#dash .rightside .selector label {
		font-size: 10px;
		padding-top:12px;
    }
	#dash .rightside .selector select {
		width: 117px;
    }
	#dash .rightside .value ul li {
		font-size: 9px;
    }
	#dash .rightside .value ul li a {
		font-size: 9px;
    }
	#dash .rightside .value .btn-primary {
		width: 141px;
		font-size: 19px;
    }
	.off, .off1 {
		width: 20px;
	}
	.off span, .off1 span {
		font-size: 10px;
	}
	.caption h1 {
		font-size: 10px;
	}
	#dash .leftside .buttons a {
		font-size: 11px;
		padding: 4px 10px;
    }
}
@media (max-width:767px){
	#log-in .log {
		margin: 0;
	}	
	#log-in .log form .user input {
		width: 58%;
    }
	#dash .dashbox .box i, #dash .dashbox .box1 i, #dash .dashbox .box2 i {
		font-size: 21px;
	}
	#dash .dashbox .box span, #dash .dashbox .box1 span, #dash .dashbox .box2 span {
		font-size: 16px;
	}
	#dash .rightside table {
		width:100%;
	}
	#dash .rightside .value {
		height: 206px;
	}
	#dash .leftside .box4 .image img{
		margin:0 auto;
	}
	.off, .off1 {
		left: 40%;
		right: 50%;
	}
	#dash .leftside .box4:hover .buttons {
		width: 100%;
	}
	#dash .leftside .buttons {
		padding-top: 68px;
	}
	#dash .rightside table tr td {
		padding: 24px 9px;
		
	}
}
.navbar-header{display:none}

#dash .price {
	color: #444;
}
#dash .price-new {
	font-weight: 600;
}
#dash .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
#dash .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}

@media(min-width:1025px){
	/*#dash .dashbox .box li:nth-child(1),#dash .dashbox .box li:nth-child(2){
		min-width:27%;
	}
	#dash .dashbox .box li{
		min-width:12.9%;
	}*/
}
@media(min-width:1180px){
	/*#dash .dashbox .box li:nth-child(1),#dash .dashbox .box li:nth-child(2){
		min-width:28%;
	}
	#dash .dashbox .box li{
		min-width:7.1%;
	}*/
}
@media(min-width:1540px){
	#dash .dashbox .box li:nth-child(1),#dash .dashbox .box li:nth-child(2){
		min-width:28.9%;
	}
	#dash .dashbox .box li{
		min-width:10%;
	}
}

@media(max-width:1000px){
	#dash .dashbox .box li:nth-child(1),#dash .dashbox .box li:nth-child(2){
		min-width:26%;
	}
	#dash .dashbox .box li{
		min-width:12%;
		padding:10px 9.4px;
	}
	#dash .dashbox .box .btn,#dash .dashbox .box span{
		font-size:16px;
	}
}
@media(max-width:900px){
	#dash .dashbox .box .btn,#dash .dashbox .box span{
		font-size:15px !important;
	}
	#dash .dashbox .box li{
		min-width: 8%;
		padding: 10px 5.1px;
	}
}
@media(max-width:800px){
	#dash .dashbox .box .btn,#dash .dashbox .box span{
		font-size:13px !important;
	}
	#dash .dashbox .box .btn{
		padding:8px 9px;
	}
	#dash .dashbox .box li{
		padding: 10px 5px;
	}
}
@media(max-width:767px){
	#dash .dashbox .box li{
		display:block;
		width:100% !important;
		margin:0 !important;
	}
}

.loadingpoup{text-align:center;}
.loadingpoup .fa-spinner{font-size:100px !important;color:#fff;}
.bg{background:#fff;}
.modal-header .close{	
    left: 34px;   
    top: -32px;
    background: #686868 none repeat scroll 0 0;
	color: #fff;    
	padding: 3px;
	position: relative;    
	opacity: 1;
	border:solid 3px #fff;
	border-radius:22px;
	width: 35px;
	font-size:21px;
    }
.fa1{position:relative;  bottom: 138px;
    font-size: 36px;
    left: 10px;
    opacity: 0.5 !important;
	cursor:pointer;
    position: relative;}
.fa2{ 
	bottom: 138px;
    cursor: pointer;
    font-size: 36px;
    left: 320px;
    opacity: 0.5;
    position: relative;}
.fa1, .fa2:hover{opacity: 1;}	

.posproduct{margin-bottom:0px;padding:10px;}
#productModal .modal-content{
	padding:10px;
}
#productModal .modal-body{
	padding-top:0px;
}
#productModal .modal-header{
	padding:15px 25px;
	border:none;
}
.scrollbox3 {
    overflow: auto;
    padding: 0px 5px;	
}
.track3 {
    width: 10px;
    background: #f2f2f2; ;
    margin-right: 2px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
	 background: rgba(0, 0, 0, 0.15);
	
}

.track3:hover,
.track3.dragging {
    background: #f2f2f2; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    right: 0;
    background: #ccc;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
	 width: 10px;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
.extraoptions .form-control{width:42%;}


@media(min-width:1380px){
	.extraoptions .form-control{width:43.8%;}
}

@media(max-width:1180px){
	.extraoptions .form-control{width:41%;}
}
@media(max-width:1025px){
	.extraoptions .form-control{width:40%;}
}
.padd{padding:0px;}
.input-group{margin-bottom:10px;}
.cartcoupon{background: #00d8f6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
}
.extraoptions  .btn{
	padding:9px 17px !important;
	}
.rightside .btn{
	padding:9px 13px;
	}
.guescust{margin-bottom:10px!important;}	
#help-modal13 .radio label, .checkbox label{font-weight:bold}
.breadcrumbsload{color: #FFF;font-size: 21px;cursor: pointer;}
.alert {margin-bottom:0px}
.modal-body .alert {
	margin:20px 0 0;
}
#printModal .form-control{
	display:inline-block;
	width:75%;
	vertical-align:middle;
}
.loadmoreproduct{clear: both;
    width: 100%;
    margin-bottom: 21px;}
.addcustomer{background:#1e91cf!important;}
.addcustomer #dash .dashbox .box i .fa-save{color:#fff!important;}
.modal-header .posclose{background: #686868 none repeat scroll 0 0;
color: #fff;
left: 23px;
padding: 3px;
position: relative;
top: -84px;
opacity: 1;
border: solid 3px #fff;
border-radius: 22px;
width: 34px;
font-size: 21px;}

.noncate{padding: 2px 2px 2px 10px;background: #4de8ff;margin-bottom: 7px;font-size: 14px;font-weight:bold;color:#fff;}
.addnewnoncate{padding: 2px 2px 2px 10px;background: #686868;margin-bottom: 7px;font-size: 14px;color:#fff}
.posproduct-body .modal-header{padding:2px 0px 0px 0px;}
.posproduct-body .modal-content{background-color:#ddd;padding:6px;}
.posproduct-body .modal-body{background-color:#fff;}
.posproduct-body .alert{width:100%;}
.expand{color: #fff;margin-top:10px;margin-bottom:10px;
width: 35px;
background: #686868;
height: 35px;
padding: 5px 13px 16px 12px;
font-size: 18px;
border-radius: 5px;}

.ccnumbercss{
	color:transparent;
	text-shadow:0 0 5px rgba(0,0,0,0.5);
 }

 .sidebar{
	position:fixed;
	left:0;
	top:40%;
	z-index:1000;
}
.sidebar ul{
	margin:0;
}
.sidebar li {
	margin-bottom:10px;
}
.sidebar li  button,.clickexpend{
	width:40px;
	height:40px;
	border-radius:0;
	text-align:center;
	padding:7px 15px;
	color: #fff;
	font-size:20px;
	border:none;
	background: #00d8f6;
}
.sidebar li:last-child{
	margin-bottom:0;
}
.sidebar .orderbox, .sidebar .custbox, .sidebar .printbox{
	left: 0px;
	position: absolute;
	min-width: 138px;
	z-index: 1000;
	top:0;
	bottom: 0px; 
	background-color: #00d8f6; 
	height:40px;
	padding: 10px 12px;
	display: none;
}
.sidebar .orderbox a, .sidebar .custbox a, .sidebar .printbox a{
	color:#fff;
	font-size:14px;
	font-weight: 700;
	padding: 0;
	border: none;
	box-shadow: none;
}
.sidebar i, .sidebar .custbox i, .sidebar .printbox i{
	color:#fff;
	display:inline-block;
	cursor:pointer;
	font-size:16px;
	float:right;
}
.sidebar .custbox{
	top:26.6%;
}
.sidebar .printbox{
	top:52.6%;
}