/* === Advanced Category Wall Module v1.1.0 for OpenCart by vytasmk at gmail === */

.a_category .cat_name_box {
	height: 4em;
	overflow: hidden;
}

.a_category .cat_name_box a {
	display: table;
	width: 100%;
	height: 100%;
}

.a_category .cat_name_box a > div {
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}
