{# Original: warehouse/product/research_fast_list.twig #}
<form action="<?php echo $save_action; ?>" method="post" enctype="multipart/form-data" id="form-product<?php echo $product_id; ?>" class="form-horizontal">
<div class="table-responsive">
<table class="table table-bordered table-hover">
    <!-- Champs cachés -->
    <input type="hidden" name="category_id" value="<?php echo $category_id; ?>" />
    <?php if (isset($product_id)) { ?>
        <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
    <?php } ?>
    
    <!-- Titre Produit -->
    
    
    <div class="form-group">
    <label class="col-sm-2 control-label" >  </label>
    <div class="col-sm-10">
         <h2><?php echo $title; ?> (<?php echo strlen($title); ?>)</h2>
    </div>
</div> 
    <!-- Champ Nom Produit -->
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-title"> <?php echo $entry_name; ?> </label>
        <div class="col-sm-10">
            <input type="text" maxlength="80" name="title" value="<?php echo (isset($name) && $name!='')?$name: $title; ?>" class="form-control" oninput="updateCharacterCount(this, 'char-count')"/>
            <div id="char-count" class="text-right char-count" style="font-weight: bold; margin-top: 5px;">
                <?php echo isset($name)?strlen($name): strlen($title); ?>/80
            </div>
        </div>
    </div>

    <!-- Images du Produit -->
    <?php if (!empty($image) || !empty($product_images)) { ?>

    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $text_images; ?> </label>
        <div class="col-sm-10">
        <div class="row">
            <?php if (!empty($image)) { ?>
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <input type="checkbox" class="save-data-checkbox" name="image[]" value="<?php echo $image; ?>">
                        <img src="<?php echo HTTP_CATALOG . 'image/' .$image; ?>" class="img-thumbnail"/>
                    </div>
                </div>
            <?php } ?>
            <?php if (!empty($product_images)) { ?>
            <?php foreach ($product_images as $image_url) { ?>
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <input type="checkbox" class="save-data-checkbox" name="product_image[]" value="<?php echo $image_url['image']; ?>">
                        <img src="<?php echo HTTP_CATALOG . 'image/' .$image_url['image']; ?>" class="img-thumbnail"/>
                    </div>
                </div>
            <?php } ?>
            <?php } ?>
        </div>
        </div>
    </div>
    <?php } ?>
    <div class="form-group">
    <label class="col-sm-2 control-label"> <?php echo $text_external_images; ?> </label>
    <div class="col-sm-10">
        <table id="table-image" class="table table-bordered table-hover">
            <tbody id="tbody-image">
                <?php if (!empty($images)) { ?>
                
                                <?php foreach ($images as $image_url) { ?>
                                    <div class="col-sm-2 col-md-2"> <!-- OpenCart grille responsive -->
                                        <div class="thumbnail">
                                            <input type="checkbox" class="save-data-checkbox" name="images[]" value="<?php echo $image_url; ?>">
                                            <div class="image-container">
                                                <!-- Miniature de limage avec style par défaut OpenCart -->
                                                <img src="<?php echo $image_url; ?>" alt="<?php echo $text_image_alt; ?>" class="thumbnail-image">
                                                <img src="<?php echo $image_url; ?>" alt="<?php echo $text_image_alt; ?>" class="fullsize-image">
                                                <div class="resolution-message" style="display: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>

                <?php } ?>
            </tbody>
        </table>
        </div> 
        </div> 
<div class="form-group">
    <label class="col-sm-2 control-label"> </label>
    <div class="col-sm-10">
      <table class="table table-bordered table-hover">
      <thead>
      <tr>
     
        <th style="width: 75px;"></th>
        <th><?php echo $text_category_name; ?>:</th>

      </tr>
    </thead>
        <tbody>    
          <tr>
      
      
      <td>
          <?php if (isset($category_name)) { ?>
              <input type="checkbox" checked name="category_name" value="<?php echo $category_name; ?>">  </td><td>
              <?php echo $category_name; ?>
          <?php } ?>
      </td>
      
      
          </tr>
        </tbody>
      </table>
      </div> 
      </div> 
      </div> 
    <!-- Informations Fabricant et Modèle -->
    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $entry_manufacturer; ?> </label>
        <div class="col-sm-10">
            <input type="text" name="manufacturer" value="<?php echo $manufacturer; ?>" class="form-control"/>
            <input type="hidden" name="manufacturer_id" value="<?php echo $manufacturer_id; ?>"/>
        </div>
    </div>
    
    <!-- Conditions du Produit -->
   
    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $entry_condition; ?> </label>
        <div class="col-sm-10">
     
            <?php foreach ($conditions as $condition) { ?>
                <div class="col-sm-5">
                    <label>
                        <input type="radio" name="condition_id" value="<?php echo $condition['condition_id']; ?>" <?php if ($condition_id == $condition['condition_id']) { echo 'checked'; } ?> />
                        <?php echo $condition['condition_name']; ?>
                    </label>
                </div>
            <?php } ?>
    
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $entry_condition; ?> </label>
        <div class="col-sm-10">
     
    {{ ebay_pricevariant_table }}
</div>
</div>
    
    <!-- Catégories et Spécificités -->
    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $entry_category; ?> </label>
        <div class="col-sm-8">
            <input type="text" name="category" value="<?php echo $product_categories[0]['name_category'] ?? ''; ?>" class="form-control"/>
            <input type="hidden" name="category_id" value="<?php echo $product_categories[0]['category_id'] ?? ''; ?>"/>
        </div>
    </div>
    
    <!-- Boutons d'Action -->
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" id="saveButton">
            <i class="fa fa-save"></i>
        </button>
        <a href="<?php echo $cancel; ?>" class="btn btn-default">
            <i class="fa fa-reply"></i>
        </a>
    </div>
    </div>

 
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-length"><?php echo $entry_dimension; ?></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-2 text-right">
                <input type="text" name="length" 
                       value="<?php echo !empty($package_dimensions['length']['value']) ? $package_dimensions['length']['value'] : $length; ?>" 
                       placeholder="<?php echo $entry_length; ?>" 
                       id="input-length" class="form-control" />
                <?php echo $length_class_title; ?>
                <?php if (!empty($error_length)) { ?>
                    <div class="text-danger"><?php echo $error_length; ?></div>
                <?php } ?>
            </div>
            <div class="col-sm-2 text-right">
                <input type="text" name="width" 
                       value="<?php echo !empty($package_dimensions['width']['value']) ? $package_dimensions['width']['value'] : $width; ?>" 
                       placeholder="<?php echo $entry_width; ?>" 
                       id="input-width" class="form-control" />
                <?php echo $length_class_title; ?>
                <?php if (!empty($error_width)) { ?>
                    <div class="text-danger"><?php echo $error_width; ?></div>
                <?php } ?>
            </div>
            <div class="col-sm-2 text-right">
                <input type="text" name="height" 
                       value="<?php echo !empty($package_dimensions['height']['value']) ? $package_dimensions['height']['value'] : $height; ?>" 
                       placeholder="<?php echo $entry_height; ?>" 
                       id="input-height" class="form-control" />
                <?php echo $length_class_title; ?>
                <?php if (!empty($error_height)) { ?>
                    <div class="text-danger"><?php echo $error_height; ?></div>
                <?php } ?>
                <input type="hidden" name="length_class_id" 
                       value="<?php echo $length_class_id; ?>" 
                       id="input-length-class" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="input-weight"><?php echo $entry_weight; ?></label>
    <div class="row">
        <div class="col-sm-1 text-right">
            <input type="text" name="weight" 
                   value="<?php echo !empty($package_dimensions['weight']['value']) ? $package_dimensions['weight']['value'] : ($weight ?? 0); ?>" 
                   placeholder="<?php echo $entry_weight; ?>" 
                   id="input-weight" class="form-control" onchange="updateWeightOz()" />
            <?php echo $weight_class_title; ?>
            <input type="hidden" name="weight_class_id" 
                   id="input-weight-class" class="form-control" 
                   value="<?php echo $weight_class_id; ?>" />
        </div>
        <div class="col-sm-1 text-right">
            <input type="text" name="weight_oz" 
                   value="<?php echo round((!empty($package_dimensions['weight']['value']) ? $package_dimensions['weight']['value'] : ($weight ?? 0)) * 16); ?>" 
                   placeholder="<?php echo $entry_weight_oz; ?>" 
                   id="input-weight-oz" class="form-control" onchange="updateWeight()" />
            oz
        </div>
        <?php if (!empty($error_weight)) { ?>
            <div class="col-sm-3 text-danger"><?php echo $error_weight; ?></div>
        <?php } ?>
    </div>
</div>

    </table>
    </div> 
   
</div>
    <div class="form-group">
    <label class="col-sm-2 control-label"> </label>
    <div class="col-sm-10">
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
        <th style="width: 75px;"></th>
            <th><?php echo $text_identifier_type; ?>:</th>
            <th><?php echo $text_identifier_value; ?>:</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($identifiers as $identifier) { ?>
      <tr>
        <?php
        // Vérifiez si le type est un tableau
        if (is_array($identifier['type'])) {
          $nb_types = count($identifier['type']);
          foreach ($identifier['type'] as $index => $type) {
            // Si 'values' est un tableau et l'index actuel est valide
            if (is_array($identifier['values']) && isset($identifier['values'][$index])) {
              if (is_array($identifier['values'][$index])) {
                // Si 'values' est un tableau imbriqué
                foreach ($identifier['values'][$index] as $value) { ?>
                  <td><input type="radio" checked name="<?php echo strtolower($type); ?>" value="<?php echo $value; ?>"></td>
                  <td><?php echo $type; ?></td>
                  <td><?php echo $value; ?></td>
                  </tr><tr>
                <?php }
              } else { ?>
                <td><input type="radio" checked name="<?php echo strtolower($type); ?>" value="<?php echo $identifier['values'][$index]; ?>"></td>
                <td><?php echo $type; ?></td>
                <td><?php echo $identifier['values'][$index]; ?></td>
                </tr><tr>
              <?php }
            }
          }
        } else {
          // Si le type n'est pas un tableau
          if (is_array($identifier['values'])) {
            foreach ($identifier['values'] as $value) { ?>
              <td><input type="radio" checked name="<?php echo strtolower($identifier['type']); ?>" value="<?php echo $value; ?>"></td>
              <td><?php echo $identifier['type']; ?></td>
              <td><?php echo $value; ?></td>
              </tr><tr>
            <?php }
          } else { ?>
            <td><input type="radio" checked name="<?php echo strtolower($identifier['type']); ?>" value="<?php echo $identifier['values']; ?>"></td>
            <td><?php echo $identifier['type']; ?></td>
            <td><?php echo $identifier['values']; ?></td>
            </tr><tr>
          <?php }
        }
        ?>
    <?php } ?>
  </tbody>
  
    </table>
    </div> 
    </div> 
    </div> 
    <div class="form-group">
        <label class="col-sm-2 control-label"> <?php echo $text_specific_type; ?> </label>
        <div class="col-sm-10">
  <table id="Specific-table" class="table table-bordered table-hover">
    <thead>
        <tr>
        <th style="width: 1px;" class="text-center">
        <input type="checkbox" onclick="toggleSelectRows(this);" />
    </th>
            <th><?php echo $text_specific_type; ?>:</th>
            <th></th>
            <th><?php echo $text_specific_value; ?>:</th>
        </tr>
    </thead>
    <tbody>

<!-- Common Attributes -->

<input type="hidden" name="category_specific_names_json" value="<?php echo htmlspecialchars(json_encode($category_specific_names), ENT_QUOTES, 'UTF-8'); ?>" />

<?php

if (!empty($specifics_result)) { ?>
<?php foreach ($specifics_result as $key => $value) { 
  $is_selected='';
    if (isset($value) && $value != '' && (!is_array($value) && strpos($value, ' +) === false) || is_array($value)) { ?>
  
        <?php 
        // Initialisation du tableau pour stocker les valeurs déjà imprimées
        $printedValues = [];
        $replacement_term = isset($category_specific_key[$key]) ? $category_specific_key[$key]['replacement_term'] : null;
      //print("<pre>" . print_r($category_specific_key[$key]['key_set'], true) . "</pre>");
        $key_set = isset($category_specific_key[$key]['key_set']) ? $category_specific_key[$key]['key_set'] : null;

        // Déterminer la classe de la couleur en fonction de key_set
        $class = '';
        $checked = '';
        if ($key_set == 1) {
            $class = 'strong-success';  // Vert pour succès
            $checked = ' checked ';
        } elseif ($key_set == 2) {
            $class = 'strong-warning';  // Jaune pour avertissement    
        } else {
            $class = 'strong-danger';   // Rouge pour alerte
        }

        if (is_array($value)) {
            foreach ($value as $subKey => $subValue) {
                if (is_array($subValue)) {
                    $data = [];
                  
                    // Vérifier si cest un tableau associatif ou numérique
                    if (isset($subValue['role']) && isset($subValue['name'])) {
                        $data['role'] = $subValue['role'];
                        $data['name'] = $subValue['name'];
                    } else {
                        foreach ($subValue as $innerKey => $innerValue) {
                            if (is_array($innerValue) && isset($innerValue['role']) && isset($innerValue['name'])) {
                                $data['role'] = $innerValue['role'];
                                $data['name'] = $innerValue['name'];
                            }
                        }
                    }

                    // Si les données ne sont pas déjà imprimées
                    if (!empty($data) && !in_array($data, $printedValues)) {
                        $printedValues[] = $data;
                        $jsonData = htmlspecialchars(json_encode($data));

                        if (is_array($data['name'])) {
                            foreach ($data['name'] as $name) {
                             
                                if (is_array($data['role'])) {
                                    foreach ($data['role'] as $role) {
                                        $singleData = ['role' => $role, 'name' => $name];
                                        $jsonSingleData = htmlspecialchars(json_encode($singleData));

                                        echo '<tr class="' . $class . '">';
                                        echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)"  name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . $jsonSingleData . '"></td>';
                                        echo '<td>' . ($key) . '</td>';
                                        echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
                                        echo '<option value="" selected></option>';

                                        
                                        // Boucle pour afficher toutes les options de $category_specific_names
                                        if (isset($category_specific_names)) {
                                            foreach ($category_specific_names as $category_specific_name) {
                                                $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                                                if($selected == 'selected') $is_selected='yes';
                                                echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                                            }
                                        }
                                        if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';

                                        echo '</select></td>';
                                  //      echo '<td>' . ($singleData['role']) . ': ' . htmlspecialchars($singleData['name']) . '</td>';
                                        echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($singleData['name']) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';

                                        echo '</tr>';
                                    }
                                } else {
                                    $singleData = ['role' => $data['role'], 'name' => $name];
                                    $jsonSingleData = htmlspecialchars(json_encode($singleData));

                                    echo '<tr class="' . $class . '">';
                                    echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)" name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . $jsonSingleData . '"></td>';
                                    echo '<td>' . ($key) . '</td>';
                                    echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
                                    echo '<option value="" selected></option>';
           

                                    // Boucle pour afficher toutes les options de $category_specific_names
                                    if (isset($category_specific_names)) {
                                        foreach ($category_specific_names as $category_specific_name) {
                                            $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                                            if($selected == 'selected') $is_selected='yes';
                                            echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                                        }
                                    }
                                    if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';

                                    echo '</select></td>';
                                 //   echo '<td>' . ($data['role']) . ': ' . htmlspecialchars($name) . '</td>';
                                    echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($name) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';

                                    echo '</tr>';
                                }
                            }
                        } else {
                            if (is_array($data['role'])) {
                                foreach ($data['role'] as $role) {
                                    $singleData = ['role' => $role, 'name' => $data['name']];
                                    $jsonSingleData = htmlspecialchars(json_encode($singleData));

                                    echo '<tr class="' . $class . '">';
                                    echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)" name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . $jsonSingleData . '"></td>';
                                    echo '<td>' . ($key) . '</td>';
                                    echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
                                    echo '<option value="" selected></option>';
          

                                    // Boucle pour afficher toutes les options de $category_specific_names
                                    if (isset($category_specific_names)) {
                                        foreach ($category_specific_names as $category_specific_name) {
                                            $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                                            if($selected == 'selected') $is_selected='yes';
                                            echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                                        }
                                    }
                                    if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';

                                    echo '</select></td>';
                                 //   echo '<td>' . ($singleData['role']) . ': ' . htmlspecialchars($singleData['name']) . '</td>';
                                    echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($singleData['name']) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';

                                    echo '</tr>';
                                }
                            } else {
                                echo '<tr class="' . $class . '">';
                                echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)" name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="'  . $jsonData . '"></td>';
                                echo '<td>' . ($key) . '</td>';
                                echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
                                echo '<option value="" selected></option>';


                                // Boucle pour afficher toutes les options de $category_specific_names
                                if (isset($category_specific_names)) {
                                    foreach ($category_specific_names as $category_specific_name) {
                                        $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                                        if($selected == 'selected') $is_selected='yes';
                                        echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                                    }
                                }
                                if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';

                                echo '</select></td>';
                           //     echo '<td>' . ($data['role']) . ': ' . htmlspecialchars($data['name']) . '</td>';          
                                echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($data['name']) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';

                                echo '</tr>';
                            }
                        }
                    }
                } else {
                    if (!in_array($subValue, $printedValues)) {
                        $printedValues[] = $subValue;
                        echo '<tr class="' . $class . '">';
                        echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)" name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="'  . htmlspecialchars($subValue) . '"></td>';
                        echo '<td>' . ($key) . '</td>';
                        echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
                        echo '<option value="" selected></option>';

                        // Boucle pour afficher toutes les options de $category_specific_names
                        if (isset($category_specific_names)) {
                            foreach ($category_specific_names as $category_specific_name) {
                                $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                                if($selected == 'selected') $is_selected='yes';
                                echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                            }
                            if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';

                        }

                        echo '</select></td>';
                       // echo '<td>' . htmlspecialchars($subValue) . '</td>';
                        echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($subValue) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';
                        echo '</tr>';
                    }
                }
            }
        } else {
            echo '<tr class="' . $class . '">';
            echo '<td><input type="checkbox" '.$checked.' class="save-data-checkbox" onClick="SelectRow(this)" name="specifics_checkbox[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="'  . htmlspecialchars($value) . '"></td>';
            echo '<td>' . ($key) . '</td>';
            echo '<td><select class="form-control" class="form-control" name="specifics_select[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]">';
            echo '<option value="" selected></option>';

            // Boucle pour afficher toutes les options de $category_specific_names
            if (isset($category_specific_names)) {
                foreach ($category_specific_names as $category_specific_name) {
                    $selected = ($category_specific_name == $replacement_term) ? 'selected' : '';
                    if($selected == 'selected') $is_selected='yes';
                    echo '<option value="' . htmlspecialchars($category_specific_name) . '" ' . $selected . '>' . htmlspecialchars($category_specific_name) . '</option>';
                }
                if($is_selected == '' &&  $replacement_term!='')  echo '<option value="' . htmlspecialchars($replacement_term) . '" selected >' . htmlspecialchars($replacement_term) . '</option>';
            }

            echo '</select></td>';
         //   echo '<td>' . htmlspecialchars($value) . '</td>';
            echo '<td><input type="text" name="specifics_text[' . (((isset($replacement_term) && $replacement_term != '') ? $replacement_term : $key)) . '][]" value="' . htmlspecialchars($value) . '" placeholder="' . $text_specific_value . '" class="form-control" /></td>';

            echo '</tr>';
        }
        ?>

    <?php } ?>
<?php } ?>
<?php } ?>

    </tbody>
   
  </table>
</div>

</div>
  
    


      
     
   
    <div class="container-fluid"> 
          <div class="pull-right">
              <button type="submit" form="form-product<?php echo $product_id;?>" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary" <?php if (!isset($product_info)){ ?>disabled <?php }?>  id="saveButton" ><i class="fa fa-save"></i></button>
      
              <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
          </div>
    </div>
  </div>
   
 

  
        

        
       
    
  
    </tbody>
    </table>
  </div>
</form>

<script type="text/javascript">
  
// Gardez lautocomplétion existante
$('input[name="category"]').autocomplete({
 

  'source': function(request, response) {
      var user_token = document.querySelector('input[name="user_token"]').value;
      $.ajax({
          url: 'index.php?route=warehouse/product/category/autocomplete&user_token=' + user_token + '&filter_name=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
              response($.map(json, function(item) {
                  return {
                      label: item['name'],
                      value: item['category_id'] 
                  }
              }));
          }
      });
  },
  'select': function(item) {
      $('input[name="category"]').val('');

      $('#product-category' + item['value']).remove();

      $('#product-category').append('<div id="product-category-' + item['value'] + '"><i class="fa-solid fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
  }
});

// Nouvelle fonctionnalité pour lentrée manuelle dun category_id
$('input[name="category"]').on('change', function() {
  var user_token = document.querySelector('input[name="user_token"]').value;
//   var product_id = document.querySelector('input[name="product_id"]').value;
  var category_id = document.querySelector('input[name="category_id"]').value;


//  showAlertPopup(product_id);
//alert (user_token); 
var categoryId = $(this).val().trim();

  if ($.isNumeric(categoryId)) {
    //  showAlertPopup(categoryId);
   
      $.ajax({
          url: 'index.php?route=warehouse/product/category.getCategoryDetails&category_id=' + encodeURIComponent(categoryId) + '&user_token=' + user_token,
          dataType: 'json',
          success: function(json) {
              if (!json.erreur) {
                  // Mettez à jour le champ avec le nom de la catégorie
                  $('input[name="category"]').val(json.name + ' (' + categoryId +')');
                  $('#category_id').val(categoryId);

                  // Supprimez les catégories actuelles
                  $('#product-category').empty();

                  // Utilisez le chemin complet fourni par le JSON
                  var fullPath = json.path + ' &gt; ' + json.name;
                  fullPath += '<input type="hidden" name="product_category[]" value="' + categoryId + '" />';
                  $.each(json.parents, function(index, parent) {
                  

                      // Ajoutez le chemin complet jusquà ce parent
               //       $.each(json.parents.slice(0, index + 1), function(i, p) {
                          fullPath += '<input type="hidden" name="product_category[]" value="' + parent.id + '" />';
               //       });

                  });
                  $('#product-category').append('<div id="product-category-' + categoryId + '">' + fullPath + '</div>');

                  if(category_id !== categoryId) {
                  
                    generateProductSpecifics(categoryId);
                  }

              } else {
                  showAlertPopup('Catégorie non trouvée ou le chemin est manquant.');
              }
          }
      });
  }
});

// Gestion de la suppression des catégories
$('#product-category').on('click', '.fa-minus-circle', function() {
  $(this).parent().remove();
});



// Manufacturer
$('input[name=\'manufacturer\']').autocomplete({

  'source': function(request, response) {
    // console.log('sourcerequest:', request);
      var user_token = document.querySelector('input[name="user_token"]').value;
      $.ajax({
          url: 'index.php?route=catalog/manufacturer/autocomplete&user_token=' + user_token + '&filter_name=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
              json.unshift({
                  manufacturer_id: 0,
                  name: 'None'
              });

              response($.map(json, function(item) {
                  return {
                      label: item['name'],
                      value: item['manufacturer_id']
                  }
              }));
          }
      });
  },
  'select': function(item) {
   //   console.log('select:', item['label']);
      $('input[name=\'manufacturer\']').val(item['label']);
      $('input[name=\'manufacturer_id\']').val(item['value']);
  }
});




<?php if(isset($condition_id)){?>
updateCondition('<?php echo $condition_marketplace_item_id; ?>'); 
checkFormStatus();
<?php } ?>
</script>